page-aide {
    .content {
        background-color: rgb(77, 77, 77);
        color: white;
        font-weight: lighter !important;
    }
    /*  [ion-item] {
        ion-icon {
            color: color($colors, primary);
        }
    } */
}