 
<ion-content padding>
  <!-- <button ion-button full (click)="getPermission()">Get Permission</button> -->
  <button ion-button (click)="startListening()" speak>
  	<ion-icon name="ios-mic"></ion-icon>
  </button>
  <button ion-button block color="dark" (click)="stopListening()" *ngIf="isIos()">
  	<ion-icon name="ios-mic-off-outline"></ion-icon>
  		{{'pop.stop' | translate}}
  </button>
 
  <ion-card>
    <ion-card-header text-wrap>{{'pop.mic_label' | translate}}</ion-card-header>
    <ion-card-content>
        <!-- <ion-item-divider>{{'pop.mic_list' | translate}}</ion-item-divider> -->
        <!-- <ion-item *ngFor="let match of matches" text-wrap (click)="selectText(match)" >{{ match }}</ion-item> -->
      
    </ion-card-content>
  </ion-card>
</ion-content>