<ion-header *ngIf="type != 'press'">

    <ion-navbar color="dark">
        <ion-title></ion-title>
        <ion-buttons end>
            <button (click)="close()" ion-button icon-only>
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content>
    <div class="bloc-desc" padding *ngIf="type=='desc'">
        <h3 text-center>{{annonce.annonce.title.rendered}}</h3>
        <p [innerHTML]="annonce.annonce.content.rendered"></p>
    </div>
    <div class="bloc-img" *ngIf="type=='imgs'">

        <ion-slides pager>
            <ion-slide *ngFor="let img of annonce.annonce.webbupointfinder_item_images">
                <op-lazy-img [source]="img" [defaultImage]="defaultImage"></op-lazy-img>
            </ion-slide>
        </ion-slides>
    </div>
    <div padding *ngIf="type=='comms'">
        <h3>{{'pop.comments' | translate}}</h3>
        <ion-list *ngIf="annonce.annonce.comments">
            <ion-item *ngFor="let item of annonce.annonce.comments">
                <ion-avatar item-start>
                    <op-lazy-img class="img" *ngIf="item._embedded.author[0].userData.Profil_image && item._embedded.author[0].userData.Profil_image != ''" [source]="item._embedded.author[0].userData.Profil_image" [defaultImage]="defaultImage"></op-lazy-img>
                    <img *ngIf=" !item._embedded.author[0].userData.Profil_image || item._embedded.author[0].userData.Profil_image == ''" src="assets/images/icons/boy.svg">
                    <!-- <img src="assets/images/icons/boy.svg"> -->
                </ion-avatar>
                <h2 id="user_name">{{item?.author_name}}</h2>
                <p id="comm_date">{{item?.date}}</p>
                <h6 [innerHTML]="item.content.rendered"></h6>

                <ion-icon *ngIf="conn_user != undefined && item.author == conn_user.user_id" (click)="showDeleteConfirm(item)" item-end name="trash"></ion-icon>
            </ion-item>
        </ion-list>
        <div *ngIf="!annonce.annonce.comments || annonce.annonce.comments.length == 0">
            <h6>{{'message.err_chat' | translate}}</h6>
            <ion-item no-lines>
                <ion-avatar item-left>
                    <img src="assets/images/icons/boy.svg">
                </ion-avatar>
                <ion-textarea [(ngModel)]="comment_txt" placeholder="{{'message.lbl_comment' | translate}}"></ion-textarea>
                <button (click)="submitComment()" ion-button clear icon-only item-right>
                    <ion-icon color="orlight" name="md-send"></ion-icon>
                </button>
            </ion-item>
        </div>

    </div>

    <div *ngIf="type == 'reviews'">
        <ion-item-divider class="animated fadeIn">
            {{'message.reviews' | translate}}
            <span *ngIf="annonce.annonce.reviews">
                <button *ngIf="annonce.annonce.reviews.length>5" ion-button clear (click)="viewAllReviews()" color="primary" item-end>{{'pop.more' | translate}}</button>
            </span>
        </ion-item-divider>
        <ion-list no-lines class="bloc-comment">
            <div *ngIf="annonce.annonce.reviews">
                <ion-item *ngFor="let item of annonce.annonce.reviews | slice:0:maxComments">
                    <ion-avatar item-start>
                        <op-lazy-img class="img" *ngIf="item._embedded.author[0].userData.Profil_image && item._embedded.author[0].userData.Profil_image != ''" [source]="item._embedded.author[0].userData.Profil_image" [defaultImage]="defaultImage"></op-lazy-img>
                        <img *ngIf=" !item._embedded.author[0].userData.Profil_image || item._embedded.author[0].userData.Profil_image == ''" src="assets/images/icons/boy.svg">
                        <!-- <img src="assets/images/icons/boy.svg"> -->
                    </ion-avatar>
                    <h2 id="user_name">{{item?.author_name}}</h2>
                    <p id="comm_date">{{item?.date}}</p>
                    <h6 [innerHTML]="item.content.rendered"></h6>

                    <ion-icon *ngIf="conn_user != undefined && item.author == conn_user.user_id" (click)="showDeleteConfirm(item)" item-end name="trash"></ion-icon>
                </ion-item>
            </div>
            <h5 *ngIf="!annonce.annonce.reviews || annonce.annonce.reviews.length == 0">{{'message.err_revs' | translate}}</h5>
            <ion-item no-lines class="bloc-sent">
                <ion-avatar item-left>
                    <img src="assets/images/icons/boy.svg">
                </ion-avatar>
                <ion-textarea [(ngModel)]="avis_txt" placeholder="{{'message.lbl_avis' | translate}}"></ion-textarea>
                <button (click)="submitReviews()" ion-button clear icon-only item-right><ion-icon color="orlight" name="md-send"></ion-icon></button>
            </ion-item>
        </ion-list>
    </div>

    <div padding class="bloc_hours" *ngIf="type == 'hours'">
        <h3 text-center>{{'message.hours' | translate}}</h3>
        <ion-list *ngIf="hours.length!=0" no-lines>
            <ion-item *ngFor="let obj of hours">
                <p item-start>{{obj.name}}</p>
                <p item-end>{{obj.text}}</p>
            </ion-item>
        </ion-list>
    </div>

    <div padding class="bloc-avis" text-center *ngIf="type == 'avis'">
        <h3 [innerHTML]="annonce.annonce.title.rendered" text-center></h3>
        <ion-item no-lines>
            <ion-textarea [(ngModel)]="comment_text" placeholder="{{'message.lbl_comment' | translate}}"></ion-textarea>
        </ion-item>

        <rating [(ngModel)]="annonce.annonce.webbupointfinder_review_rating" readOnly="false" max="5" nullable="false"></rating>

        <button ion-button block (click)="submitAvis()">{{'btns.save_review' | translate}}</button>

    </div>


    <div *ngIf="type == 'rdv'">

        <h3 text-center>{{'rdv.fill_form' | translate}}</h3>
        <!-- <ion-item no-lines>
    <ion-label stacked > Title</ion-label>
    <ion-input type="text" [(ngModel)]="rdv_title" ></ion-input>
</ion-item> -->

        <ion-item no-lines>

            <ion-label stacked>Date</ion-label>
            <ion-input [(ngModel)]="rdv_date" type="datetime-local"></ion-input>
        </ion-item>

        <ion-item no-lines>
            <ion-textarea [(ngModel)]="rdv_description" placeholder="{{'rdv.desc' | translate}}">

            </ion-textarea>
        </ion-item>

        <button ion-button block (click)="requestRdv()">{{'rdv.send' | translate}}</button>
    </div>

    <div text-center id="pack" *ngIf="type == 'pack'">
        <ion-item-divider text-left>{{'form_annonce.packages' | translate}}</ion-item-divider>
        <h6>{{'form_annonce.pack_title' | translate}}</h6>
        <form [formGroup]="radioTagsForm">
            <ion-list class="radio-tags" radio-group formControlName="selected_option">
                <ion-grid>
                    <ion-row>
                        <ion-col *ngFor="let item of packs" col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3>
                            <ion-item class="radio-tag">
                                <ion-label>{{item.PACK_CONTENT.post_title}} <br> <strong> {{item.PACK_PRICE}}€ <br>{{item.PACK_lp_billing_period}} {{'form_annonce.pack_days' | translate}}</strong></ion-label>
                                <ion-radio value="{{item.PACK_CONTENT.ID}}"></ion-radio>
                            </ion-item>

                        </ion-col>

                    </ion-row>
                </ion-grid>
            </ion-list>
        </form>


        <button id="valider_btn" ion-button (click)="onPackSelect()">{{'form_annonce.valider' | translate}}</button>
    </div>

    <div padding text-center custom-pop id="press" *ngIf="type == 'press'">
        <h6 [innerHTML]="annonce.annonce.title.rendered"> </h6>
        <ul>
            <li *ngFor="let item of actions" (click)="openAction(item)">
                <img [src]="item.img"> <br> {{item.titre}}
            </li>
        </ul>
    </div>
</ion-content>